{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="revenueReport.css">
{% endblock %}

{% block script %}
    <script>let filterOptions = {{ filterOptions | json_encode | raw }}</script>
    <script src="{{ asset('js/revenueReport.js') }}">
    </script>
{% endblock %}


{% block body %}
    {# Revenue report main container #}
    <div id="revenue-report">
        <h1 class="revenue-title">Revenue Report</h1>


        <p>Filter Options:</p>
        <ul>
            <li>Group By: {{ filterOptions.groupBy }}</li>
            <li>Collected: {{ filterOptions.Collected ? 'Yes' : 'No' }}</li>
            <li>Uncollected: {{ filterOptions.Uncollected ? 'Yes' : 'No' }}</li>
            <li>Overdue: {{ filterOptions.Overdue ? 'Yes' : 'No' }}</li>
            <li>Start Date: {{ filterOptions.startDate }}</li>
            <li>End Date: {{ filterOptions.endDate }}</li>
        </ul>


            <div id="revenueReportContainer">
            </div>
    </div>
{% endblock %}